PORT=3002
NODE_ENV=development

DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=postgres

JWT_SECRET_KEY="SOME RANDOM VALUE"

# gmail
EMAIL_DOMAIN=mail.ai-doc.com
EMAIL_USER="your-gmail"
EMAIL_PASSWORD="password"